/* @Group layout */
a {  text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; color:#bc9d60;}
a:focus { outline: thin dotted;text-decoration: none; }
a:hover, a:active { outline: 0; }
body {
    background-color: #fff;
    color:#676767;
    font-family: Arial;
}
#wrap {
    background-color: #D0D0D0;
    margin: 0 auto;
    width:810px;
}
#header{
    background-color: #EE1711;
    height: 200px;
    padding-left: 10px;
}
#nav{
    background-color: #FFBC1A;
    height: 50px;
    padding-left: 10px;
}
#content{
   
}
#footer{
    background-color: #EE1711;
    border-top: 1px solid #fff;
    height: 50px;
}
/* @End group layout */


/* @Group header */
#header h1 a,#header h1 a:hover{
   color:#fff;
}
/* @End header */


/* @Group nav menu */
#nav ul.navigation li a,#nav ul.navigation li a:hover {
   color:#fff;
   height: 50px;
   line-height: 50px;
   text-transform: uppercase;
}
/* @End nav menu */


/* @Group content */

/* @End group content */


/* @Group footer */

/* @End footer */

